.about {
  width: 100%;
  padding-top: 50px;
  padding-left: 300px;

  &__title {
    text-decoration: underline;
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
  }

  &__members-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 210px);
    grid-template-rows: auto;
    align-items: start;
    justify-content: start;
    grid-gap: 15px 50px;
    padding-right: 50px;
    padding-bottom: 15px;

    @media screen and (max-width: 1920px) {
      grid-template-columns: repeat(auto-fit, 210px);
    }
  }

  &__member {
    width: 210px;

    &__img {
      width: 210px;
      height: 302px;
    }

    &__name {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 100%;
      margin-top: 15px;
    }
  }
}
